.jumbotron {
  padding-top: 8rem;
  background-color: #f89320;
}

/* ********* */
/* About */
/* ******* */
#about .row {
  text-align: justify;
}

/* *************** */
/* CSS Experience */
/* ************* */

.experience {
  position: relative;
  padding: 45px 0 15px 0;
}

.experience .timeline {
  position: relative;
  width: 100%;
}

.experience .timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #f89320;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.experience .timeline .timeline-item {
  position: relative;
  background: inherit;
  width: 50%;
  margin-bottom: 30px;
}

.experience .timeline .timeline-item.left {
  left: 0;
  padding-right: 30px;
}

.experience .timeline .timeline-item.right {
  left: 50%;
  padding-left: 30px;
}

.experience .timeline .timeline-item::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: 48px;
  right: -8px;
  background: #f89320;
  border: 2px solid #f89320;
  border-radius: 16px;
  z-index: 1;
}

.experience .timeline .timeline-item.right::after {
  left: -8px;
}

.experience .timeline .timeline-item::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 46px;
  right: 10px;
  z-index: 1;
  border: 10px solid;
  border-color: transparent transparent transparent #000000;
}

.experience .timeline .timeline-item.right::before {
  left: 10px;
  border-color: transparent #000000 transparent transparent;
}

.experience .timeline .timeline-date {
  position: absolute;
  width: 100%;
  top: 44px;
  font-size: 20px;
  font-weight: 600;
  color: #f89320;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.experience .timeline .timeline-item.left .timeline-date {
  text-align: left;
  left: calc(100% + 55px);
}

.experience .timeline .timeline-item.right .timeline-date {
  text-align: right;
  right: calc(100% + 55px);
}

.experience .timeline .timeline-text {
  padding: 30px;
  background: #ffffff;
  position: relative;
  border-right: 5px solid #000000;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
}

.experience .timeline .timeline-item.right .timeline-text {
  border-right: none;
  border-left: 5px solid #000000;
}

.experience .timeline .timeline-text h2 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 600;
  color: #f89320;
}

.experience .timeline .timeline-text h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

.experience .timeline .timeline-text p {
  margin: 0;
  font-size: 16px;
}

@media (max-width: 767.98px) {
  .experience .timeline::after {
    left: 8px;
  }

  .experience .timeline .timeline-item {
    width: 100%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left {
    padding-right: 0;
  }

  .experience .timeline .timeline-item.right {
    left: 0%;
    padding-left: 38px;
  }

  .experience .timeline .timeline-item.left::after,
  .experience .timeline .timeline-item.right::after {
    left: 0;
  }

  .experience .timeline .timeline-item.left::before,
  .experience .timeline .timeline-item.right::before {
    left: 18px;
    border-color: transparent #dddddd transparent transparent;
  }

  .experience .timeline .timeline-item.left .timeline-date,
  .experience .timeline .timeline-item.right .timeline-date {
    position: relative;
    top: 0;
    right: auto;
    left: 0;
    text-align: left;
    margin-bottom: 10px;
  }

  .experience .timeline .timeline-item.left .timeline-text,
  .experience .timeline .timeline-item.right .timeline-text {
    border-right: none;
    border-left: 5px solid #dddddd;
  }
}

/* ************ */
/* ***Skill*** */
/* ********** */
.skill {
  position: relative;
  width: 100%;
}

.skill .col-lg-6 {
  padding: 0;
}
.skill .skill-img {
  position: relative;
  height: 100%;
}

.skill .skill-img {
  position: relative;
  height: 100%;
}

.skill .skill-img img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill .skill-content {
  padding: 0 60px;
}

.skill .skill-name p {
  display: inline-block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}

.skill .skill-name p:last-child {
  color: #2b2727;
  font-size: 17px;
}

.skill .skills .progress {
  height: 10px;
  border-radius: 10px;
  background: #dddddd;
}

.skill .skills .progress .progress-bar {
  width: 0px;
  background: #f89320;
  border-radius: 10px;
  transition: 2s;
}

/* ******** */
/* Contact */
/* ****** */
#contact {
  background-color: #f89320;
}
#contact .profile .social-links a {
  font-size: 30px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 14px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 60px;
  height: 60px;
  transition: 0.3s;
}

#contact .profile .social-links a:hover {
  background: #ffffff;
  color: #f89320;
  text-decoration: none;
}

/* ********** */
/* Education */
/* ******** */
.education {
  background-color: #f89320;
}

h5 {
  color: #ffffff;
}
h6 {
  color: #2b2727;
  font-size: 17px;
}
